footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
}
body
{
    background: #d9d9d9;
    margin-bottom: 100px;
    clear: both;
}
#footer-div
{
    padding: 10px;
    text-align:center;
}
#flask-powered-button
{
    padding-top: 5px;
}
#inner-top-bar
{
    //padding-bottom: 10px;
    background: #AAAAAA;
    display: flex;
}
#top-bar-div
{
    background: #FF0000;
    width: 75%;
}
#top-bar-right
{
    background: #000000;
    width: 25%;
}
#user-image-div
{
    float: right;
}
#usr-btn
{
    padding: 0px;
    color: #333;
    background-color: #e6e6e6;
    border-color: #444444;
}
.home-blocks-div
{
    height: 33%;
}
.project-blocks-div
{
    width: 80%;
}
.blocks-div
{
    margin: auto;
}
.project-block
{
    border-radius: 10px;
    transition: 0.75s;
    background: #f5f5f5;
    min-height: 40px;
    padding: 10px 25px;
    margin-bottom: 16px;
    width: auto;
    position: relative;
    border: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.project-block:hover
{
    background: #b3b3b3;
}
.home-page-block
{
    text-align: center;
}
.repos-block
{
    display: flex;
}
.project-link
{   
    text-decoration: none;
    color: #1a1a1a;
}
.project-link:hover
{
    color: #000000;
}
.project-desc
{
    width: 75%;
}
.project-description
{
    padding-bottom: 15px;   
}
.project-stats
{
    //display: flex;   
}
.language-div
{
    padding-bottom: 8px;
}
.language-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}
.project-buttons
{
    width: 25%;
    margin-left: 30px;
    display: block;
}
.website-header
{
    left: 0;
    z-index: 1000;
    padding: 10px 16px;
    background: url(header_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content
{
    text-align: center;
}
.container
{
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
  padding-top: 102px;
}