html, body
{
    height: 100%;
}
footer
{
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}
body
{
    background: #eeeeee;
    clear: both;
}
#footer-div
{
    padding: 10px;
    text-align:center;
}
#flask-powered-button
{
    padding-top: 5px;
}
#inner-top-bar
{
    padding: 10px 120px 10px 120px;
    background: #24292E;
    display: flex;
}
#top-bar-div
{
    width: 80%;
}
#top-bar-right
{
    width: 20%;
}
#user-image-div
{
    float: right;
}
#usr-img,
#org-logo
{
    border-radius: 10%;
}
#usr-btn
{
    padding: 0px;
    color: #ffffff;
    background-color: #24292E;
    border-color: #24292E;
}
.usr-dropdown
{
    transition: 0.5s;
}
.usr-dropdown:hover > .dropdown-menu
{
    display: block;
}
.org-img
{
    border-radius: 50%;
}
.home-blocks-div
{
    height: 33%;
}
.project-blocks-div
{
    width: 80%;
}
.blocks-div
{
    margin: auto;
}
.home-page-block,
.project-block
{
    border-radius: 10px;
    transition: 0.75s;
    background: #ffffff;
    padding: 10px 25px;
    border: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.project-block
{
    min-height: 40px;
    width: auto;
    margin-bottom: 16px;
    position: relative;
}
.home-page-block:hover,
.project-block:hover
{
    background: #d5d5d5;
    transform: scale(1.02);
}
.home-two-block-div
{
    display: flex;
    margin-bottom: 16px;
    flex-flow: row wrap;
    justify-content: space-around;
}
.home-page-block
{
    min-height: 320px;
    width: 22%;
    position: relative;
    text-align: center;
}
.repos-block
{
    display: flex;
}
.project-link
{   
    text-decoration: none;
    color: #1a1a1a;
}
.project-link:hover
{
    color: #000000;
}
.project-desc
{
    width: 75%;
}
.project-description
{
    padding-bottom: 15px;   
}
.project-stats
{
    //display: flex;   
}
.language-div
{
    padding-bottom: 8px;
}
.language-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}
.project-buttons
{
    width: 25%;
    margin-left: 30px;
    display: block;
}
.website-header
{
    left: 0;
    z-index: 1000;
    padding: 10px 16px;
    background: url(header_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content
{
    text-align: center;
}
.container
{
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
  padding-top: 102px;
}