footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
}
#footer-div
{
    padding: 10px;
    text-align:center;
}
#flask-powered-button
{
    padding-top: 5px;
}
.blocks-div
{
    width: 80%;
    margin: auto;
}
.project-block
{
    transition: 1s;
    display: flex;
    background: #d9d9d9;
    min-height: 40px;
    padding: 10px 25px;
    padding-bottom: 25px;
    margin-bottom: 16px;
    width: auto;
    position: relative;
    border: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.project-block:hover
{
    background: #bfbfbf;
}
.project-desc
{
    width: 75%;
}
.project-buttons
{
    width: 25%;
    padding-left: 20px;
}