{% extends "public.html" %}

{% block headertitle %}
    <div class="header-title">
        <h2>
            Marauders
        </h2>
    </div>
{% endblock %}


{% block content %}
<div class="blocks-div home-blocks-div">
    <a href="/projects/" class="project-link">
        <div class="project-block home-page-block">
            <h3>
                Projects
            </h3>
        </div>
    </a>
    <a href="/blogs/" class="project-link">
        <div class="project-block home-page-block">
            <h3>
                Blog
            </h3>
        </div>
    </a>
    <a href="/forum/" class="project-link">
        <div class="project-block home-page-block">
            <h3>
                Forum
            </h3>
        </div>
    </a>
</div>
{% endblock %}