{% if userLogged %}
{% extends "logged.html" %}
{% else %}
{% extends "public.html" %}
{% endif %}

{% block headertitle %}
    <div class="header-title">
        <h2>
            Marauders
        </h2>
    </div>
{% endblock %}


{% block content %}
<div class="blocks-div home-blocks-div">
    <div class="home-two-block-div">
        <div class="home-page-block">
            <a href="/projects/" class="project-link homepage-link">
                <h3>
                    Projects
                </h3>
                <img src="{{ url_for('static', filename='flask-logo.png')}}"
                     class="home-block-icon">
            </a>
        </div>
        
        <div class="home-page-block">
            <a href="http://marauders9998.blogspot.com/" class="project-link homepage-link">
                <h3>
                    Blog
                </h3>
                <img src="{{ url_for('static', filename='flask-logo.png')}}"
                     class="home-block-icon">
            </a>
        </div>
        <div class="home-page-block">
            <a href="/forum/" class="project-link homepage-link">
                <h3>
                    Forum
                </h3>
                <img src="{{ url_for('static', filename='flask-logo.png')}}"
                     class="home-block-icon">
            </a>
        </div>
        {% if maraudersLogged %}
        <div class="home-page-block">
            <a href="/new_blog/" class="project-link homepage-link">
                <h3>
                    Create Blog
                </h3>
                <img src="{{ url_for('static', filename='flask-logo.png')}}"
                     class="home-block-icon">
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}