{% if userLogged %}
{% extends "logged.html" %}
{% else %}
{% extends "public.html" %}
{% endif %}

{% block topheader_txt %}
<div id="top-header-txt">
    Marauders
</div>
{% endblock %}

{% block headertitle %}
<div class="header-title">
    Marauders
</div>
{% endblock %}


{% block content %}
<div class="blocks-div home-blocks-div">
    <div class="home-two-block-div">
        <div class="home-page-block">
            <a href="/projects/" class="project-link">
                <div class='mobile-txt'>
                    Projects
                </div>
            </a>
            <img src="{{ url_for('static', filename='projects_card_img.jpg')}}" class="block-img">
            <a href="/projects/" class="project-link homepage-link">
                <div class="middle-block">
                    <div class="hover-text">
                        PROJECTS
                    </div>
                </div>
            </a>
        </div>

        <div class="home-page-block">
            <a href="http://marauders9998.blogspot.com/" class="project-link">
                <div class='mobile-txt'>
                    Blog
                </div>
            </a>
            <img src="{{ url_for('static', filename='blogs_card_img.jpg')}}" class="block-img">
            <a href="http://marauders9998.blogspot.com/" class="project-link homepage-link">
                <div class="middle-block">
                    <div class="hover-text">
                        BLOG
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="home-two-block-div">
        <div class="home-page-block">
            <a href="/forum/" class="project-link">
                <div class='mobile-txt'>
                    Forum
                </div>
            </a>
            <img src="{{ url_for('static', filename='forum_card_img.jpg')}}" class="block-img">
            <a href="/forum/" class="project-link homepage-link">
                <div class="middle-block">
                    <div class="hover-text">
                        FORUM
                    </div>
                </div>
            </a>
        </div>
        <div class="home-page-block">
            <a href="#" class="project-link">
                <div class='mobile-txt'>
                    API
                </div>
            </a>
            <img src="{{ url_for('static', filename='api_card_img.jpg')}}" class="block-img">
            <a href="/api/" class="project-link homepage-link">
                <div class="middle-block">
                    <div class="hover-text">
                        API
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}