{% extends "main.html" %}

{% block topbar %}
<div id="top-bar">
    <div id="inner-top-bar">
        <div id="top-bar-div">
            top-bar-div
        </div>
        <div id="top-bar-right">
            <div id="user-image-div">
                <div class="dropdown">
                    <button id="usr-btn"
                            class="btn btn-default dropdown-toggle"
                            type="button" id="menu1" data-toggle="dropdown">
                        <img src="{{usr_img}}" id="usr-img" style="width:48px;height:48px;">
                        <span class="caret"></span>
                    </button>
                    <ul id="user-dropdown-menu"
                        class="dropdown-menu dropdown-menu-right"
                        role="menu" aria-labelledby="menu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{usr_url}}">Profile</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{usr_url}}/?tab=repositories">My Repos</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/github_logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}