<!DOCTYPE html>
<html lang="en">
	<head>
         <link rel="icon" href="{{ url_for('static', filename='favicon_32.png')}}"
               type="image/gif">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </head>
    
    <body>
        <div id="top-bar">
            <div>
            </div>
        </div>
        <div class="website-header" id="main-header">
            <div class="header-content">
                {% block headertitle %}
                {% endblock %}
            </div>
        </div>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
        <script>
            window.onscroll = function() {myFunction()};
            
            var header = document.getElementById("main-header");
            var sticky = header.offsetTop;
            
            function myFunction()
            {
                if (window.pageYOffset > sticky)
                {   header.classList.add("sticky");
                }
                else
                {   header.classList.remove("sticky");
                }
            }
        </script>
    </body>
    
    <footer id="footer" class="footer section" name="footer">
        <div id="footer-div">
            <div class="widget-content">
                <div>
                    <a href="https://plus.google.com/116154490900675422516">
                        <img src="{{ url_for('static', filename='google-logo.png')}}"
                             alt="Connect on Google"
                             title="Connect on Google">
                    </a>
                    <a href="https://github.com/Marauders-9998">
                        <img src="{{ url_for('static', filename='github-logo-white.png')}}"
                             alt="Connect on Github"
                             title="Connect on Github">
                    </a>
                    <a href="https://fb.me/marauders9998">
                        <img src="{{ url_for('static', filename='facebook-logo.png')}}"
                             alt="Connect on Facebook"
                             title="Connect on Facebook">
                    </a>
                </div>
                
                <div id="flask-powered-button">
                    <a href="http://flask.pocoo.org/">
                        <img src="http://flask.pocoo.org/static/badges/powered-by-flask-s.png"
                             border="0"
                             alt="powered by Flask"
                             title="powered by Flask">
                    </a>
                </div>
            </div>
        </div>        
    </footer>
</html>