<!DOCTYPE html>
<html lang="en">
    <!-- The head section is where all scripts, css files and other imports are made -->
	<head>
         <link rel="icon" href="{{ url_for('static', filename='favicon_32.png')}}"
               type="image/gif">
        
        <link href="{{ url_for('static', filename='assets/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/css/font-awesome.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='bootstrap-social.css')}}" rel="stylesheet">
        
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </head>
    
    <!-- The body section is that contains the elements that are displayed -->
    <body>
        <!-- Div containing the top bar -->
        <div id="top-bar">
            <div id="inner-top-bar">
                <div id="top-bar-left">
                    <div id="marauders-logo">
                        <!-- Link -->
                        <a href="/">
                            <img src="{{ url_for('static', filename='favicon_32.png')}}"
                                 id="org-logo"
                                 style="width: 32px;
                                        height: 32px">
                        </a>
                    </div>
                </div>
                <div id="top-bar-div">
                    {% block topheader_txt %}
                    {% endblock %}
                </div>
                {% block topbar_right %}
                {% endblock %}
            </div>
        </div>
        <div class="website-header" id="main-header">
            <div class="header-content">
                {% block headertitle %}
                {% endblock %}
            </div>
        </div>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
        <!-- Javascript function -->
        <script>
            //exectutes myFunction() when the page is scrolled
            window.onscroll = function() {myFunction()};
            
            //assigns the element with the "main-header" id to the header variable
            var header = document.getElementById("main-header");
            //assigns to the variable sticky the offsetTop of the header
            var sticky = header.offsetTop;
            
            function myFunction(){
                //if the pageYOffset of the window is greater then the values of sticky it executes
                //the first option, else, it executes the second command
                if (window.pageYOffset > sticky){
                    header.classList.add("sticky");
                }else{
                    header.classList.remove("sticky");
                }
            }
        </script>
    </body>
    
    <!-- The footer section contains all elements that are displayed ont the footer of the page -->
    <footer id="footer" class="footer" name="footer">
        <div id="footer-div">
            <div class="widget-content">
                <div>
                    <!-- Link -->
                    <a href="https://plus.google.com/116154490900675422516"
                       target="_blank">
                        <img src="{{ url_for('static', filename='google-logo.png')}}"
                             alt="Connect on Google"
                             title="Connect on Google"
                             style="width: 32px;
                                    height: 32px;">
                    </a>
                    <!-- Link -->
                    <a href="https://github.com/Marauders-9998"
                       target="_blank">
                        <img src="{{ url_for('static', filename='github-logo-black.png')}}"
                             alt="Connect on Github"
                             title="Connect on Github"
                             style="width: 32px;
                                    height: 32px;">
                    </a>
                    <!-- Link -->
                    <a href="https://fb.me/marauders9998"
                       target="_blank">
                        <img src="{{ url_for('static', filename='facebook-logo.png')}}"
                             alt="Connect on Facebook"
                             title="Connect on Facebook"
                             style="width: 32px;
                                    height: 32px;">
                    </a>
                </div>
                
                <div id="flask-powered-button">
                    <!-- Link -->
                    <a href="http://flask.pocoo.org/"
                       target="_blank">
                        <img src="http://flask.pocoo.org/static/badges/powered-by-flask-s.png"
                             border="0"
                             alt="powered by Flask"
                             title="powered by Flask">
                    </a>
                </div>
            </div>
        </div>        
    </footer>
</html>