{% extends "main.html" %}
{% block content %}
    Projects Page
    {% for repo in repositories %}
        <div class='blocks-div'>
        <div id="{{repo.id}}" class='project-block'>
            <div class='project-desc'>
                <h3 class="project-name">
                    <a href="{{repo.url}}">{{repo.name}}</a>
                </h3>
                <div class="project-description">
                    {% if repo.description %}
                        repo.description
                    {% else %}
                        No description Provided
                    {% endif %}
                </div>
                <div class="project-stats">
                </div>
            </div>
            <div class='project-buttons'>
                <a class="github-button"
                   href="https://github.com/Marauders-9998/{{repo.name}}/fork"
                   data-icon="octicon-repo-forked" data-size="large"
                   data-show-count="true"
                   aria-label="Fork Marauders-9998/{{repo.name}} on GitHub">
                    Fork
                </a>
                <a class="github-button"
                   href="https://github.com/Marauders-9998/{{repo.name}}/issues"
                   data-icon="octicon-issue-opened" data-size="large"
                   data-show-count="true"
                   aria-label="Issue Marauders-9998/{{repo.name}} on GitHub">
                    Issue
                </a>
                <a class="github-button"
                   href="https://github.com/Marauders-9998/{{repo.name}}/archive/master.zip"
                   data-icon="octicon-cloud-download" data-size="large"
                   aria-label="Download Marauders-9998/{{repo.name}} on GitHub">
                    Download
                </a>
            </div>
        </div>
        </div>
    {% endfor %}
{% endblock %}