{% extends "main.html" %}

{% block topbar %}
        <div id="top-bar">
            <div id="inner-top-bar">
                <div id="top-bar-div">
                    top-bar-div
                </div>
                <div id="top-bar-right">
                    <div id="github-signup_button">
                        <a class="btn btn-block btn-social btn-github"
                           href="/github">
                            <span class="fa fa-github"></span>
                            Sign in with GitHub
                        </a>
                    </div>
                </div>                
            </div>
        </div>
{% endblock %}